<% content_for(:title, 'Business Plans')%>
<header>
	<div class="headtop">
		<div class="container">
			<h1 class="brand"><a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html"><img alt="Stream" src=" ../assets/business.png" tppabs="http://livedemo00.template-help.com/wt_44757/img/logo.png"></a></h1>
			<div class="headphone">
				<span class="admin_login_link"><%= link_to 'Login', new_user_session_path %></span>&nbsp; | &nbsp;Call us:<strong>+234-806-066-6033</strong>
			</div>
		</div>
	</div>
	<div class="headmain">
		<div class="container">
			<div class="clearfix">
				<div class="navbar navbar_ clearfix extra">
					<div class="nav-collapse nav-collapse_  collapse">
						<ul class="nav sf-menu">
							<li>
								<a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html">Home<span></span></a>
							</li>
							<li>
								<a href="/about_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-1.html">about us<span></span></a>
							</li>
							<li class="active">
								<a href="/services/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-2.html">services<span></span></a>
								<ul>
									<li>
										<a href="/services/overview">Overview</a>
									</li>
									<li>
										<a href="/services/business_plans">Business Plans</a>
									</li>
									<li>
										<a href="/services/entrepreneurship">Entrepreneurship</a>
									</li>
									<li>
										<a href="/services/project_management">Project management</a>
									</li>
									<li>
										<a href="/services/engineering_designs">Engineering designs</a>
									</li>
									<li>
										<a href="/services/financial_management">Financial management</a>
									</li>
									<li>
										<a href="/services/solar_energy_consulting">Solar energy services</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/offered_solutions/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-3.html">solutions<span></span></a>
							</li>
							<li>
								<a href="/contact_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-4.html">contacts<span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!--============================== content =================================-->
<div id="content">
	<!--============row-1==========-->
	<div class="row_5">
		<div class="container">
			<div class="row">
				<div class="span4">
					<ul class="thumbnails2 clearfix row">
						<li class="span4">
							<div class="thumbnail services maxheight2">
								<img src="../assets/business1.jpg" tppabs="http://livedemo00.template-help.com/wt_44757/img/page3_img1.jpg" alt="">
								<div class="caption maxheight">
									<h4><a>A Brief Overview of our Business Plans.</a>
									<br>
									</h4>
									<p>
										A business plan is a formal statement of business goals, reasons they are attainable, and plans for reaching them.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="span8 solutions">
					<h2>Business Plans</h2>
					<h4>A business plan is a formal statement of business goals, reasons they are attainable, and plans for reaching them. It may also contain background
					information about the organization or team attempting to reach those goals.</h4>
					<p>
						Your business plan is your compass. It will help you map out a new course,
						and navigate through unchartered territory.
						<br>
						Your business plan is a live document. It’s something you'll want to use to pitch for funding,
						that you should update as you grow and as your business changes, and that you can use to inform and direct your decisions.
					</p>
					<p>
						<b>TYPICAL STRUCTURE FOR A BUSINESS PLAN FOR A START UP VENTURE</b>
					</p>
					<hr>
					<p>
						<ul style="list-style: none;">
							<li>
								<p style="font-weight: bold;">
									Executive summary.
									Mission statement.
									Business description.
									Business environment analysis.
									SWOT analysis.
									Industry background.
									Competitor analysis.
									Market analysis.
									Marketing plan.
									Operations plan.
									Management summary.
									Financial plan.
									Attachments and milestones.
								</p>
							</li>
						</ul>
					</p>

				</div>
				<div class="span12 solutions">
					<p style="text-align: center; padding-left: 16%;">
						<b style="font-size: 1.14em; color: red;">HERE'S A COMPREHENSIVE LIST OF OUR SAMPLE BUSINESS PLANS:</b>
					</p>
					<hr style="margin-bottom: 4%;">
					<div class="row">
						<div class="span4">
							<% if @limit_23.present? %>
							<% @limit_23.take(20).each do |samps| %>
							<ul class="list-about thumbnails2 clearfix row" style="margin-bottom: 1.3em;">
								<li>
									<div class="overflow services">
										<p style="font-weight: bold; text-transform: uppercase; font-size: 1.1em; line-height: 12px;">
											<%= link_to samps.title, :controller => 'samples', :action => 'show', :id => samps.id %>
										</p>
									</div>
								</li>
							</ul>
							<% end %>
							<% end %>
						</div>
						<div class="span4">
							<% if @limit_47.present? %>
							<% @limit_47.take(15).each do |samps| %>
							<ul class="list-about thumbnails2 clearfix row">
								<li>
									<div class="overflow services">
										<p style="font-weight: bold; text-transform: uppercase; font-size: 1.1em; line-height: 12px;">
											<%= link_to samps.title, :controller => 'samples', :action => 'show', :id => samps.id %>
										</p>
									</div>
								</li>
							</ul>
							<% end %>
							<% end %>
						</div>
						<div class="span4">
							<% if @limit_69.present? %>
							<% @limit_69.take(20).each do |samps| %>
							<ul class="list-about thumbnails2 clearfix row">
								<li>
									<div class="overflow services">
										<p style="font-weight: bold; text-transform: uppercase; font-size: 1.1em; line-height: 12px;">
											<%= link_to samps.title, :controller => 'samples', :action => 'show', :id => samps.id %>
										</p>
									</div>
								</li>
							</ul>
							<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>