<section class="content-header">
	<h1> Show Data <small>Show Recent Project</small></h1>
	<ol class="breadcrumb">
		<li>
			<a><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<%= link_to 'Recent Projects', recent_projects_path %>
		</li>
		<li class="active">
			<%= link_to 'Show Recent Project', @recent_project %>
		</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="example-modal">
			<div class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Viewing Recent Project</h4>
						</div>
						<div class="box-body">
							<div class="show-content-div-top-padding">
								<div class="form-group">
									<p class="show-details">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Cover Image:</b> </label>
										<%= image_tag @recent_project.image(:thumb) %>
									</p>
								</div>
								<div class="form-group">
									<p class="show-details">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Title:</b> </label>
										<%= @recent_project.title %>
									</p>
								</div>
								<div class="form-group">
									<p class="show-details" style="text-transform: none;">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Description:</b> </label>
										<%= truncate @recent_project.description, length: 200 %>
									</p>
								</div>
							</div>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div><!-- /.example-modal -->
	</div>
</section>

<section class="content">
	<!-- Default box -->
	<div class="box">
		<div class="box-footer">
			<%= link_to 'Edit', edit_recent_project_path(@recent_project), class: 'btn btn-default btn-flat' %> &nbsp;&nbsp;&nbsp;&nbsp;
			| &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Back', recent_projects_path, class: 'btn btn-default btn-flat' %>
		</div><!-- /.box-footer-->
	</div><!-- /.box -->
</section><!-- /.content -->
