<%= simple_form_for((@outline), html: { class: "form-horizontal"}) do |f| %>

<% if @outline.errors.any? %>
<div class="box-body">
	<div class="callout callout-warning">
		<h4><i class="icon fa fa-warning"></i> Error Alert!</h4>
	</div>
</div><!-- /.box-body -->
<% end %>

<% if @outline.errors.any?  %>
<ul>
	<% @outline.errors.full_messages.each do |msg| %>
	<li>
		<%= msg %>
	</li>
	<% end %>
</ul>
<% end %>

<div class="modal-body">
	<div class="box-body">
		<!-- Horizontal Form -->
		<!-- form start -->
		<div class="box-body">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-4 control-label">Entrepreneurship Prog.</label>
				<div class="col-sm-7">
					<%= f.collection_select(:entrepreneur_program_id,  @entrepreneur_programs,  :id, :topic, {:prompt   => "Select Business Plan"}, {:class => 'form-control'}) %>
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-4 control-label">Question</label>
				<div class="col-sm-7">
					<%= f.input :question, :label => false, :placeholder => "Type Question ", input_html: { class: 'form-control form-control-input', id: 'inputEmail3' } %>
				</div>
			</div>
		</div>
	</div><!-- /.box-body -->
</div>
<div class="modal-footer">
	<div class="form-actions">
		<%= link_to 'Back', outlines_path, class: 'btn btn-default pull-left' %>
	</div>
	<div class="form-actions">
		<%= f.button :submit, class: 'btn btn-primary' %>
	</div>
</div>
</div><!-- /.modal-content -->
<% end %>

<div class="box-header"></div>

<div class="panel box box-danger">
	<div class="box-header with-border" style="text-align: center;">
		<h3 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> <span style="color: #4e4e4e;">IMPORT OUTLINES [ -ADVANCED USERS ONLY- ]</span> </a></h3>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse">
		<div class="box-body">
			<%= form_tag import_outlines_path, multipart: true do %>
			<label for="exampleInputFile">outlines.csv</label>
			<%= file_field_tag :file %>
			<div class="file-import-padding">
				<%= submit_tag "Import CSV", class: 'btn btn-primary' %>
			</div>
			<% end %>
		</div>
	</div>
</div>