<%= simple_form_for((@topic), html: { class: "form-horizontal"}) do |f| %>

<% if @topic.errors.any? %>
<div class="box-body">
	<div class="callout callout-warning">
		<h4><i class="icon fa fa-warning"></i> Error Alert!</h4>
	</div>
</div><!-- /.box-body -->
<% end %>

<% if @topic.errors.any?  %>
<ul>
	<% @topic.errors.full_messages.each do |msg| %>
	<li>
		<%= msg %>
	</li>
	<% end %>
</ul>
<% end %>

<div class="modal-body">
	<div class="box-body">
		<!-- Horizontal Form -->
		<!-- form start -->
		<div class="box-body">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-4 control-label">Business Plan</label>
				<div class="col-sm-7">
					<%= f.collection_select(:sample_business_plan_id,  @sample_business_plans,  :id, :title, {:prompt   => "Select Business Plan", :selected => params[:sample_business_plan_id]}, {:id => 'sample_business_plans_select', :class => 'form-control'}) %>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-4 control-label">Section</label>
				<div class="col-sm-7">
					<%= f.collection_select(:section_id,  @sections,  :id, :name, {:prompt   => "Select Section", :selected => params[:section_id]}, {:id => 'sections_select', :class => 'form-control'}) %>
				</div>
			</div>


			<div class="form-group">
				<label for="inputEmail3" class="col-sm-4 control-label">Topic Title</label>
				<div class="col-sm-7">
					<%= f.input :title, :label => false, :placeholder => "Enter Topic", input_html: { class: 'form-control form-control-input', id: 'inputEmail3' } %>
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-4 control-label">Tag</label>
				<div class="col-sm-7">
					<%= f.input :number, :label => false, :placeholder => "Enter Number Tag", input_html: { class: 'form-control form-control-input', id: 'inputEmail3' } %>
				</div>
			</div>
		</div>
	</div><!-- /.box-body -->
</div>
<div class="modal-footer">
	<div class="form-actions">
		<%= link_to 'Back', topics_path, class: 'btn btn-default pull-left' %>
	</div>
	<div class="form-actions">
		<%= f.button :submit, class: 'btn btn-primary' %>
	</div>
</div><!-- /.modal-content -->
<% end %>
