<section class="content-header">
	<h1> Show Data <small>Show Topic</small></h1>
	<ol class="breadcrumb">
		<li>
			<a><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<%= link_to 'Topics', topics_path %>
		</li>
		<li class="active">
			<%= link_to 'Show Topic', @topic %>
		</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="example-modal">
			<div class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Viewing Topic</h4>
						</div>
						<div class="box-body">
							<div class="show-content-div-top-padding">
								<div class="form-group">
									<p class="show-details">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Number Tag:</b> </label>
										<%= number_with_precision(@topic.number, precision: 2) %>
									</p>
								</div>
								<div class="form-group">
									<p class="show-details">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Topic:</b> </label>
										<%= @topic.title %>
									</p>
								</div>
								<div class="form-group">
									<p class="show-details">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Section</b> </label>
										<% if @topic.section %>
										<%= @topic.section.name %>
										<% else %>
										<span class="red-links-profiles">Not Available</span>
										<% end %>
									</p>
								</div>
								<div class="form-group">
									<p class="show-details">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Business Plan</b> </label>
										<% if @topic.sample_business_plan %>
										<%= @topic.sample_business_plan.title %>
										<% else %>
										<span class="red-links-profiles">Not Available</span>
										<% end %>
									</p>
								</div>
							</div>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div><!-- /.example-modal -->
	</div>
</section>

<section class="content">
	<!-- Default box -->
	<div class="box">
		<div class="box-footer">
			<%= link_to 'Edit', edit_topic_path(@topic), class: 'btn btn-default btn-flat' %> &nbsp;&nbsp;&nbsp;&nbsp;
			| &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Back', topics_path, class: 'btn btn-default btn-flat' %>
		</div><!-- /.box-footer-->
	</div><!-- /.box -->
</section><!-- /.content -->
