<section class="content-header">
	<h1> Show Data <small>Show Sample Business Plan</small></h1>
	<ol class="breadcrumb">
		<li>
			<a><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<%= link_to 'Sample Business Plans', sample_business_plans_path %>
		</li>
		<li class="active">
			<%= link_to 'Show Sample Business Plan', @sample_business_plan %>
		</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="example-modal">
			<div class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Viewing Sample Business Plan</h4>
						</div>
						<div class="box-body">
							<div class="show-content-div-top-padding">
								<div class="form-group">
									<p class="show-details">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Title:</b> </label>
										<%= @sample_business_plan.title %>
									</p>
								</div>
								<div class="form-group">
									<p class="show-details">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Viewable?</b> </label>
										<% if @sample_business_plan.checked.present? %>
										<%= @sample_business_plan.checked %>
										<% else %>
										False
										<% end %>
									</p>
								</div>
								<div class="form-group">
									<p class="show-details">
										<label for="inputEmail" class="control-label col-sm-4"> <b style="color: #3e3e3e; text-transform: capitalize;">Cover Image:</b> </label>
										<%= image_tag @sample_business_plan.image(:thumb) %>
									</p>
								</div>

							</div>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div><!-- /.example-modal -->
	</div>
</section>

<section class="content">
	<!-- Default box -->
	<div class="box">
		<div class="box-footer">
			<%= link_to 'Edit', edit_sample_business_plan_path(@sample_business_plan), class: 'btn btn-default btn-flat' %> &nbsp;&nbsp;&nbsp;&nbsp;
			| &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Back', sample_business_plans_path, class: 'btn btn-default btn-flat' %>
		</div><!-- /.box-footer-->
	</div><!-- /.box -->
</section><!-- /.content -->
