<header class="main-header">
	<!-- Logo -->
	<% if current_user.has_role? :superadmin or current_user.has_role? :admin_user %>
	<a href="<%= root_path %>" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels --> <span class="logo-mini"><b>Biz</b>4U</span> <!-- logo for regular state and mobile devices --> <span class="logo-lg"><b>Business </b>- Plan 4U</span> </a>
	<% end %>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- User Account: style can be found in dropdown.less -->
				<li class="dropdown user user-menu">
					<% if current_user.avatar.blank? %>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="/assets/user-photo/no-photo-big.jpg" class="user-image" alt="User Image"> <span class="hidden-xs"><%= current_user.username %></span> </a>
					<% else %>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= image_tag current_user.avatar.url(:thumb), :alt => 'User Image', class: 'user-image' %> <span class="hidden-xs"><%= current_user.username %></span> </a>
					<% end %>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header">
							<% if current_user.avatar.blank? %>
							<img src="/assets/user-photo/no-photo-big.jpg" class="img-circle" alt="User Image">
							<% else %>
							<%= image_tag current_user.avatar.url(:thumb), :alt => 'User Image', class: 'img-circle' %>
							<% end %>
							<p>
								<%= current_user.username %> - <%= current_user.roles.first.name.titleize %>
								<small>Member since <%= current_user.created_at.strftime("%b - %Y")%></small>
							</p>
						</li>

						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<%= link_to 'Profile', '/profile_pages/show', :class => "btn btn-default btn-flat" %>
							</div>
							<div class="pull-right">
								<%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => "btn btn-default btn-flat" %>
							</div>
						</li>
					</ul>
				</li>
				<!-- Control Sidebar Toggle Button -->
				<li>
					<a href="" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
				</li>
			</ul>
		</div>
	</nav>
</header>